<html>
  <head>
    <title>Добавление студента</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Добавление студента</h1>
    <form action="send" method="POST">
      <label>Имя</label>
      <input name="firstName" /><br /><br />
      <label>Фамилия</label>
      <input name="lastName" /><br /><br />
      <label>Отчество</label>
      <input name="patronymic" /><br /><br />
      <label>Группа</label>
      <input name="group" /><br /><br />
      <input type="submit" value="Отправить" />
    </form>
    <a href="/students">К списку студентов</a>
  </body>
</html>