<html>
  <head>
    <title>Главная страница</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <nav
    class="navbar navbar-expand navbar-light bg-light justify-content-center"
  >
    <a class="navbar-brand" href="/">Главная страница</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/students">Студенты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teachers">Преподаватели</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subjects">Предметы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/exams">Экзамены</a>
      </li>
    </ul>
  </nav>
  <body>
    <div class="text-center">
      <h1>Главная страница</h1>
    </div>
  </body>
</html>